.dashboard {
  @include display();
  justify-content: start;
  // flex-direction: column;
  // padding: 2%;
  align-items: start;
  gap: 100px;
  &__list {
    @include display();
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 100px 10px !important;
  }

  &__link {
    width: 100% !important;
    text-decoration: none;
    color: rgb(211, 211, 211);
    border: none ;
    &:hover {
      opacity: 0.6;
    }
  }

  &__li-exit {
    // @include display();
    // width: 100%;
    // max-width: 100px;
    // padding: 0;
    background-color: transparent !important;
    border: none !important;
  }
  &__li {
    width: 100% !important;
    border: 1px solid;
    // background-color: red;
    background-color: rgba(128, 128, 128, 0.219);
    padding: 5px;
    &:hover{
      background-color: rgba(128, 128, 128, 0.61);
      cursor: pointer;
    }
  }

  &__bottom {
    @include display();
    flex-direction: column;
    width: 100%;
    align-items: start;
    gap: 10px;
  }

  &__top {
    background-color: rgb(18, 18, 29);
    flex-grow: 1;
    max-width: 400px;
    height: 100vh;
  }

}
