.dashboard {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 300px auto;
  gap: 10px;
  &__list {
    @include display();
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 100px 10px !important;
    grid-row: 1/2;
    grid-column: 1/2;
  }
  &__main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    align-items: start;
    padding: 60px 0px 0px 0px;
    gap: 40px;
    max-height: 100vh;
    overflow: auto;
  }

  &__link {
    width: 100% !important;
    text-decoration: none;
    color: rgb(211, 211, 211);
    border: none;
    &:hover {
      opacity: 0.6;
    }
  }

  &__li-exit {
    background-color: transparent !important;
    border: none !important;
  }
  &__li {
    width: 100% !important;
    border: 1px solid;
    // background-color: red;
    background-color: rgba(128, 128, 128, 0.219);
    padding: 5px;
    &:hover {
      background-color: rgba(128, 128, 128, 0.61);
      cursor: pointer;
    }
  }

  &__bottom {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 10px;
    grid-row: 1/2;
    grid-column: 1/2;
  }

  &__top {
    background-color: rgb(18, 18, 29);
    flex-grow: 1;
    // max-width: 300px;
    height: 100vh;
  }
}


@media (max-width: 600px) {
  .dashboard {
    grid-template-rows: auto auto;
    grid-template-columns: auto;
    &__bottom {
      padding: 10px;
    }
    &__top {
      @include display();
      max-height: 200px;
    }
  }
}