.image{
  @include display();
  margin-top: 20px;
  justify-content: start;
  &__form {
    @include display();
    justify-content: start;
    gap: 10px;
    width: 100%;
    margin-top: 20px;
  }

  &__input {
    padding: 4px;
    font-size: 15px;
    flex-grow: 1;
    max-width: 600px;
  }

  &__button {
    padding: 4px;
    background-color: green;
    color: white;
    border: none;
  }

  &__wr {
    width: 100%;
  }

  &__img {
    margin-top: 20px;
  }
}