.main {
  @include display();
  position: relative;
  flex-direction: column;
  justify-content: start;
  gap: 100px;
  padding: 13% 10px;
  background-color: white;
  min-height: 100vh;
  &__form {
    @include display();
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px
  }

  &__form-i-top {
    padding: 5px;
    @include display();
    justify-content: start;
    max-width: 800px;
    position: fixed;
    top: 0px;
    background-color: white;
    gap: 10px;
    width: 100%;
    // left: 10px;
  }

  &__form-top-input {
    width: 80% !important;
  }

  &__form-top-button {
    padding: 5px 2px;
    font-size: 13px;
    border: 1px solid rgb(7, 7, 124);
    background-color: rgb(43, 43, 207);
    color: white;
    font-weight: 600;
    &:hover {
      cursor: pointer;
    }
  }
 
  &__form-b {
    @include display();
    flex-direction: column;
    align-items: start;
    gap: 5px;
    width: 100%;
    // background-color: red;
  }

  &__form-l {
    @include display();
    font-size: 14px;
    gap: 10px;
  }

  &__form-i{
    width: 100%;
    outline: none;
    border: 1px solid black;
    padding: 5px 4px;
    font-size: 15px;
  }

  &__form-button {
    padding: 5px 8px;
    width: 60px;
    height: 27px;
    border: none;
    background-color: rgb(5, 163, 5);
    border: 1px solid green;
    color: white;
    font-weight: 600;
    font-size: 12px;
    &:active {
      opacity: 0.8;
    }
  }

  &__form-eye-close, &__form-eye-open {
    width: 18px;
  }
}