.todos {
  @include display();
  flex-direction: column;
  align-items: start;
  gap: 5px;
  border: 1px solid;
  padding: 10px;

  &__wr {
    @include display();
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 30px;
    margin-top: 20px;
  }
  &__main {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

@media (max-width: 600px) {
  .todos {
    &__main {
      padding: 10px;
    }
  }
}
